.siderbar {
  grid-area: siderbar;
  margin: 50px auto;
}

.content{
  grid-area: content;
}

.wrap{
  display: grid;
  grid-template-areas: 'siderbar ... content content';
  margin: auto;
  width: 500px;
}

.link{
  text-decoration: none;
  color: red;
  font-family: Georgia;
  font-style: italic;
}
